@charset "utf-8";

body {
  background: #d4d4d4 url("../images/background.png");
  font-family: sans-serif; }

h1 {
  text-align: center;
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  margin-top: 20px;
  }

$pianowidth: 80px;
$pianoheight: 20px;

#app {
  margin-top: 20px;

  #pianoroll {
    background-color: #fff;
    ul {
      float: left;
      list-style: none;
      width: $pianowidth;
      border-top: 1px solid #999;
      margin: 0 0 0 -2px;
      padding: 0;

      li {
        margin: 0;
        position: relative;
        border-radius: 2px;
        font-size: 8px;
        text-align: right;
        line-height: $pianoheight;
        padding: 0 4px 0 0;
        height: $pianoheight;

        &.black {
          color: #ccc;
          z-index: 1;
          margin: $pianoheight / -2 0;
          background-color: #000;
          width: ($pianowidth / 2) - 4px;
        }

        &.white {
          border-right: 1px solid #999;
          border-bottom: 1px solid #999;
          width: $pianowidth - 4px;
        }

        &.note-C {
          color: red;
          font-weight: bold;
        }

        &.note-A, &.note-G, &.note-D {
          height: $pianoheight + 3px;
          line-height: $pianoheight + 3px;
        }
      }
    }

    #lanes {
      margin-left: $pianowidth;
      position: relative;

      .playhead {
        width: 2px;
        box-shadow: 1px 0 #fff;
        background-color: red;
        position: absolute;
        z-index: 999;
        height: 100%;
      }
    }


    .beat-marker {
      position: absolute;
      top: 0;
      z-index: 5;
      border-left: 1px solid #bbb;
      height: 100%;
    }

    .lane {
      height: $pianoheight - 7px;
      position: relative;
      z-index: 2;

      &.black {
        background-color: #ccc;
      }
      &.white {
        background-color: #f3f3f3;
      }

      &:first-child {
        margin-top: 1px;
        border-top: 1px solid #ccc;
      }

      .on {
        top: 0;
        z-index: 99;
        box-sizing: border-box;
        height: $pianoheight - 7px;
        position: absolute;
        border: 1px solid #333;
        background-color: #37c;
      }
    }

  }
}
